{% extends "base.html" %}



{% block content %}

<h1 class="text-uppercase h1p">Prisijunkite</h1>
<div class="card col-md-6 p-5 mx-auto" style="background-color: rgba(245, 245, 245, 0.9);">
      {% if form.errors %}
        <p>Prisijungimo klaida, bandykite dar kartą!</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <p>Neturite prieigos prie šios informacijos. Turite prisijungti.</p>
        {% endif %}
      {% endif %}
        <div class="container justify-content-center">
            <form method="post"  action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Vartotojo vardas:</label>
                    <input name="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
                </div>
                <div class="form-group">
                    <label for="password">Slaptažodis</label>
                    <input name="password" type="password" class="form-control" id="password" aria-describedby="pwdHelp">
                </div>
                <button type="submit" class="btn btn-secondary btn-md register-button">Prisijungti</button>
            </form>
            <p class="mt-5"><a href="{% url 'password_reset' %}">Pamiršote slaptažodį?</a> | Jei neturite paskyros, <a href="{% url 'register' %}">galite prisiregistruoti</a></p>
        </div>
    </div>
{% endblock %}