{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="text-uppercase h1p">{% trans 'Restore password' %}</h1>
<div class="col-md-6 p-5 mx-auto" style="background-color: rgba(245, 245, 245, 0.9);">
  <form method="post" action="">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <div class="form-group">
      <label for=></label>
      <input name="email" type="text" class="form-control" id="email" aria-describedby="usernameHelp">
      <small id="emailHelp" class="form-text text-muted">{% trans 'Enter your email that you used to register.' %}</small>
    </div>
    <button type="submit" class="btn btn-secondary btn-md register-button">{% trans 'Restore password' %}</button>
  </form>
</div>
{% endblock %}
