{% extends "base.html" %}

{% block content %}
<h1 class="text-uppercase h1p">Slaptažodžio atkūrimas</h1>
<div class="col-md-6 p-5 mx-auto" style="background-color: rgba(245, 245, 245, 0.9);">
  <form method="post" action="">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <div class="form-group">
      <label for=></label>
      <input name="email" type="text" class="form-control" id="email" aria-describedby="usernameHelp">
      <small id="emailHelp" class="form-text text-muted">Įveskite savo el. pašto adresą, kuriuo registravotės.</small>
    </div>
    <button type="submit" class="btn btn-secondary btn-md register-button">Atkurti slaptažodį</button>
  </form>
</div>
{% endblock %}
