{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {% if validlink %}
    <h1 class="text-uppercase h1p">{% trans 'Restore password' %}</h1>
    <div class="col-md-6 p-5 mx-auto" style="background-color: rgba(245, 245, 245, 0.9);">
        <h5 class="mb-5">{% trans 'Enter new password and confirm.' %}</h5>
        <form action="" method="post">
        {% csrf_token %}
            <div class="form-group">
              <label for=>{% trans 'New password:' %}</label>
              <input name="new_password1" type="password" class="form-control" id="new_password1" aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
              <label for=>{% trans 'Confirm:' %}</label>
              <input name="new_password2" type="password" class="form-control" id="new_password2" aria-describedby="usernameHelp">
            </div>
            <button type="submit" class="btn btn-secondary btn-md register-button">{% trans 'Change password' %}</button>
        </form>
    {% else %}
        <h1>{% trans "Couldn't change the password" %}</h1>
        <p>{% trans 'Password reset link is not valid. Please request link again.' %}</p>
    {% endif %}
{% endblock %}