{% extends "base.html" %}

{% block content %}
    {% if validlink %}
    <h1 class="text-uppercase h1p">Slaptažodžio atkūrimas</h1>
    <div class="col-md-6 p-5 mx-auto" style="background-color: rgba(245, 245, 245, 0.9);">
        <h5 class="mb-5">Įveskite naują slaptažodį ir pakartokite.</h5>
        <form action="" method="post">
        {% csrf_token %}
            <div class="form-group">
              <label for=>Naujas slaptažodis:</label>
              <input name="new_password1" type="password" class="form-control" id="new_password1" aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
              <label for=>Patvirtinkite:</label>
              <input name="new_password2" type="password" class="form-control" id="new_password2" aria-describedby="usernameHelp">
            </div>
            <button type="submit" class="btn btn-secondary btn-md register-button">Pakeisti slaptažodį</button>
        </form>
    {% else %}
        <h1>Nepavyko pakeisti slaptažodžio</h1>
        <p>Slaptažodžio pakeitimo nuoroda negaliojanti. Prašome inicijuoti slaptažodžio keitimą iš naujo.</p>
    {% endif %}
{% endblock %}