{% extends "base.html" %}

{% block content %}
{% load static %}

<h1 class="text-uppercase h1p">Automobiliai</h1>

<!--<div class="card p-3" style="background-color: rgba(245, 245, 245, 0.9);">-->
  <div class="row">
    {% for a in visi_automobiliai %}
    <div class="col-md-3 px-2 pb-3">
      <div class="card shadow-lg m-1 text-center" style="background-color: rgba(245, 245, 245, 0.95);">
        {% if a.nuotrauka %}
            <img src="{{ a.nuotrauka.url }}" class="card-img-top rounded shadow-lg">
          {% else %}
            <img src="{% static 'img/no-image.png' %}" class="card-img-top rounded shadow-lg">
          {% endif %}
        <div class="card-body">
          <h3 class="card-title">
            {{a.valstybinis_nr}}
          </h3>
          <p class="card-text">{{a.automobilio_modelis_id}}</p>
          <p class="{% if a.auto_statusas.first.statusas == 'u' %}text-success{% elif a.auto_statusas.first.statusas == 'x' %}text-danger{% else %}text-primary{% endif %}">{{ a.auto_statusas.first.get_statusas_display }}</p>
          <a href="{% url 'automobilis' a.id %}"><button type="button" class="btn btn-secondary btn-sm">Detaliau</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row justify-content-center m-0">
    <nav aria-label="..." class="m-0">
      <ul class="pagination m-0">
        {% if visi_automobiliai.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ visi_automobiliai.previous_page_number }}">Atgal</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link disabled">Atgal</a>
          </li>
        {% endif %}

        {% for i in visi_automobiliai.paginator.page_range %}
          {% if visi_automobiliai.number == i %}
            <li class="page-item active">
              <a class="page-link">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if visi_automobiliai.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ visi_automobiliai.next_page_number }}">Toliau</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link disabled">Toliau</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
<!--</div>-->
{% endblock %}