{% extends "base.html" %}

{% block content %}
{% load static %}

<h1 class="text-uppercase h1p">Automobiliai</h1>

<div class="card" style="background-color: rgba(245, 245, 245, 0.9);">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center"><i class="fa fa-picture-o fa-2x"></i></th>
        <th scope="col">Valst. Nr.</th>
        <th scope="col">Modelis</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for a in visi_automobiliai %}

      <tr>
        <td class="align-middle text-center">
        {% if a.nuotrauka %}
          <img src="{{ a.nuotrauka.url }}" style="max-height: 100px;">
        {% else %}
          <img src="{% static 'img/no-image.png' %}" style="max-height: 100px;">
        {% endif %}
        <td class="align-middle">{{a.valstybinis_nr}}</td>
        <td class="align-middle">{{a.automobilio_modelis_id}}</td>
        <td class="align-middle"><a href="{% url 'automobilis' a.id %}"><button type="button" class="btn btn-secondary btn-sm">Detaliau</button></a></td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if visi_automobiliai.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ visi_automobiliai.previous_page_number }}">Atgal</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link disabled">Atgal</a>
        </li>
      {% endif %}

      {% for i in visi_automobiliai.paginator.page_range %}
        {% if visi_automobiliai.number == i %}
          <li class="page-item active">
            <a class="page-link">{{ i }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if visi_automobiliai.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ visi_automobiliai.next_page_number }}">Toliau</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link disabled">Toliau</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}