{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="text-uppercase h1p">{% trans "Statistics" %}</h1>
  <h4>{% trans 'Your have visited ' %}{{ num_visits }}{% trans ' times here.' %}</h4>
  <h5 class="mt-3">{% trans 'Today we have:' %}</h5>
<div class="row">
    <div class="col-md-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h5>{% trans 'Cars:' %}</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark">{% trans 'Total: ' %}<span class="h3">{{ automobiliu_kiekis }}</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h5>{% trans 'Clients:' %}</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark">{% trans 'Total: ' %}<span class="h3">{{ klientu_kiekis }}</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h5>{% trans 'Orders:' %}</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark">{% trans 'Total: ' %}<span class="h3">{{ uzsakymu_kiekis }}</span></li>
          <li class="list-group-item list-group-item-success">{% trans 'Finished: ' %}<span class="h3">{{ atlikti_uzsakymai }}</span></li>
          <li class="list-group-item list-group-item-dark">{% trans 'Ongoing: ' %}<span class="h3">{{ vykdomi_uzsakymai }}</span></li>
          <li class="list-group-item list-group-item-dark">{% trans 'Reserved: ' %}<span class="h3">{{ laukiami_uzsakymai }}</span></li>
          <li class="list-group-item list-group-item-danger">{% trans 'Cancelled: ' %}<span class="h3">{{ atsaukti_uzsakymai }}</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h5>{% trans 'Services:' %}</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark">{% trans 'Total: ' %}<span class="h3">{{ paslaugu_kiekis }}</span></li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}