{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="text-uppercase h1p">{% trans 'Price-list' %}</h1>

<div class="card" style="background-color: rgba(245, 245, 245, 0.8);">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col" class="text-center">{% trans 'Price, €' %}</th>
      </tr>
    </thead>
    <tbody>
    {% for a in kainynas %}
      <tr>
        <td>{{a.pavadinimas}}</td>
        <td class="text-center">{{a.kaina}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}