{% extends "base.html" %}

{% block content %}
<h1 class="text-uppercase h1p">Registracija</h1>
<div class="row p-0 d-flex justify-content-between">
    <div class="card col-md-6 p-5" style="background-color: rgba(245, 245, 245, 0.9);">
        <div class="container justify-content-center">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Vartotojo vardas</label>
                    <input name="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Iki 150 simbolių.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">El. paštas</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Nesidalinsime su niekuo, nesiųsime jokio spamo.
                        Reikalingas naujam slaptažodžiui išsiųsti. </small>
                </div>
                <div class="form-group">
                    <label for="password">Slaptažodis</label>
                    <input name="password" type="password" class="form-control" id="password" aria-describedby="pwdHelp">
                    <small id="pwdHelp" class="form-text text-muted">Ne mažiau, kaip 8 simboliai. Negali būti vien tik
                        skaičiai</small>
                </div>
                <div class="form-group">
                    <label for="password2">Pakartoti slaptažodį</label>
                    <input name="password2" type="password" class="form-control" id="password2" aria-describedby="pwd2Help">
                </div>
                <button type="submit" class="btn btn-secondary btn-md register-button">Registruotis</button>
            </form>
        </div>
    </div>
    <div class="card col-md-5 p-5" style="background-color: rgba(245, 245, 245, 0.9);">
      {% if form.errors %}
        <p>Prisijungimo klaida, bandykite dar kartą!</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <p>Neturite prieigos prie šios informacijos. Turite prisijungti.</p>
        {% endif %}
      {% endif %}
        <h5 class="mb-5 text-success">Jeigu užsiregistravote anksčiau, galite prisijungti.</h5>
        <div class="container justify-content-center">
            <form method="post"  action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Vartotojo vardas:</label>
                    <input name="username" type="text" class="form-control" id="username3" aria-describedby="usernameHelp">
                </div>
                <div class="form-group">
                    <label for="password">Slaptažodis</label>
                    <input name="password" type="password" class="form-control" id="password3" aria-describedby="pwdHelp">
                </div>
                <button type="submit" class="btn btn-secondary btn-md register-button">Prisijungti</button>
            </form>
            <p class="mt-5"><a href="{% url 'password_reset' %}">Pamiršote slaptažodį?</a></p>
        </div>
    </div>
</div>
{% endblock %}