{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-uppercase h1p">Užsakymas</h1>
<div class="card shadow-lg p-1 m-5 rounded" style="background-color: rgba(245, 245, 245, 0.9);">
    <div class="container justify-content-center my-5">
        <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset class="form-group">
        <input type="hidden" name="vartotojas" id="id_vartotojas">
        <div id="div_id_automobilis_id" class="form-group">
            <label class="">Pasirinkite automobilį</label>
            <div>
                {{ form.automobilis_id }}
            </div>
        </div>
        <div id="div_id_grazinimo_terminas" class="form-group">
            <label class="">Pasirinkite pageidaujamą atlikimo datą</label>
            <div>
                {{ form.grazinimo_terminas }}
            </div>
        </div>

        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-md register-button">Išsaugoti</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}